
<div>
<% if current_host %>
    <%= link_to "로그아웃", destroy_host_session_path, method: :delete %>
<% elsif current_user%>
    <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "로그인", home_signin_path %>
    <%= link_to "회원가입", home_signup_path %>
<% end %>  
</div>

<div>
    <%=link_to "게시글", posts_path, method: :get%>
</div>